.loader {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
    left: 50%;
    margin: 75px 75px 75px -100px;
}
.loader-star {
    position: absolute;
    top: calc(50% - 12px);
}

.loader-1 .loader-outter {
	position: absolute;
	border: 4px solid #3bb19c;
	border-left-color: transparent;
	border-bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
	animation: loader-1-outter 1s cubic-bezier(.42, .61, .58, .41) infinite;
}
.loader-1 .loader-inner {
	position: absolute;
	border: 4px solid #3bb19c;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	left: calc(50% - 30px);
	top: calc(50% - 30px);
	border-right: 0;
	border-top-color: transparent;
	-webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
	animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}
@-webkit-keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader-1-outter {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes loader-1-inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}