/*!
 * Based on http://startbootstrap.com/template-overviews/stylish-portfolio/
 */

/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
    color: #2E3254;
    background-attachment: fixed;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    line-height: 1.5em;
}

h1,h2,h3 {
    font-weight: lighter;
}
 a {
     color: #2E3254;
 }

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid rgba(255,255,255,.5);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}
.bg-primary {
    color: #fff;
    background-color: #2E3254;
}

.text-primary {
    /*background-color: #2E3254;*/
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #2E3254;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border-right: 1px solid #252846;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 15px;
}

#sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/background.png) repeat;
    background-color: #2E3254;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    color: #ffffff;
    background-attachment: fixed;
}

.header-buttons {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    padding-top: 10px;
}
.header-buttons a {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo-wrap {
    margin-bottom: 15px;
}
.logo-wrap img {
    width: 240px;
}

.header.page {
    height: 200px;

}



.header.page .logo-wrap img {
width: 50px;
}


.screenshot {
    margin-bottom: -15px;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.screenshot img {
    margin-bottom: 0;
    width: 100%;

}

/* About */

.about {
    padding: 50px 0;
}

.about h2 {
    font-size: 50px;
}

.screenshots-slider {
    margin-top:50px;
}

.screenshot-slide {
    text-align: center;
    background: #7B7B7B;
}
.screenshot-slide img {
    max-width: 900px;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);

}

/* Features */

.features {
    padding: 50px 0;
}

#features h2 {
    font-size:50px;
}

.feature-item {
    margin-bottom: 30px;
}

.feature-item .text-primary {
    color:  #2E3254;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #2E3254;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.callout p {
    font-size: 20px;
    font-weight: lighter;
    margin-top: 20px;
}

.callout .btn {
    background-color: rgba(46, 50, 84, 0.82);
    border: 1px solid #FFF;
    border-radius: 0;
    color: #fff;
    padding: 17px 50px;
    font-weight: lighter;
    text-transform: uppercase;
}

@media(max-width:768px) {
    .callout h1 {
        font-size: 25px;
    }
    .header.page h1 {
        font-size: 30px;
    }

    .header .btn {
        padding:5px 8px;
        margin-top: 5px;
    }
}

/* Footer */

footer {
    padding: 50px 0;
}


.owl-wrapper-outter {
    height: 400px;
}

.owl-theme .owl-controls .owl-buttons div {
    background-color: #2E3254;
    opacity: 1;
}

.docs-menu {
    margin-top: 20px;
}
.page-wrap {
    padding: 20px;
}

.docs p, .docs ul {
    color: #777;
}
.docs h3, .docs h2, .docs h1, .docs h4 {
    margin-bottom: 15px;
}

/* Bootstrap Overrides */
.alert-info {
    color: #31708f;
    background-color: #fff;
    border-color: #bce8f1;
    border-left-width: 4px;
}
.well {
    background-color: #F5F5F5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.well,.list-group-item:last-child,.list-group-item:first-child, .alert,.btn {
    border-radius: 0;
}

section.licence-boxes {
    background-color: #f9f9f9;
    margin-top: 20px;
}
.row-padded {
    padding: 30px;
}